body {
    background-color: #00171F;
    color: #F2E8CF;
    font-family: 'Lugrasimo', cursive;
    font-family: 'Mukta', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sarabun', sans-serif;
    font-size: 2rem;
}

.success {
    background-color: #386641;
}

.warning {
    background-color: #FA824C;
}

.danger {
    background-color: #931621;
}

.container {
    padding-top: 2rem;
}

.flex-items {
    display: flex;
    justify-content: center;
}

li {
    list-style: none;
    padding: 1rem;
    border: solid 2px #ffffff;
}

.firstDateContainer {
    padding: 1rem;
}

.secondDateContainer {
    padding: 1rem;
}